#acemount_app{
    height: 1200px;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

#acemount-menu{
    font-size: 15px;
    background-color: #ffffff;
    color: orange;
    position: relative;
    border-bottom: 4px double black; /* Параметры границы */


}

#acemount-content{
    font-size: 15px;
    background-color: #ffffff;
    position: relative;
    min-height: 800px;
}

.acemount-menu-linker>ul{
    padding-top: 5px;
    height: 100px;
}



.acemount-menu-linker>ul>li{
    width: 14%;
    min-width: 100px;
    float: left;
    font-size: 20px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    cursor: default;
}
.acemount-logo {
    position: relative;
    overflow: hidden;
    height: 100px;
}

.acemount-logo>img {
    width: auto;
    height: 100%;
}



.acemount-menu-linker>ul>li:not(.acemount-logo){
 padding-top: 30px;
}

.acemount-menu-linker>ul>li, .acemount-menu-linker>ul>li>a{
    color: #424242;
    font-weight: 700;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.acemount-menu-linker>ul>li:hover, .acemount-menu-linker>ul>li:active,
.acemount-menu-linker>ul>li>a:active , .acemount-menu-linker>ul>li>a:hover{
    color: #ff9800;
}

#acemount-link{
    padding-right: 10%;
    padding-left: 1%;
    font-weight: 100;
}

#acemount-link>a{
    color: #4682B4;
}


.acemount-setting {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;

}

.acemount-setting form  {
    width: 500px;
    padding-left: 20%;
    padding-top: 20px;
}

.acemount-tamlate {
    width: 97.5%;
    padding: 10px 1%;
    display: inline-block;
    transition: all linear 0.15s;
    box-shadow: 2px 2px 4px rgba(95, 95, 95, 0.83);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    background: #e5e5e5;
    color: #555;    margin-bottom: 0;
    position: relative;
}


.acemount_btn{
    width:15px;
    height:15px;
    float:right;
}
.acemount_btn:after {
    content: '\002B';
    color: #555555;
    float: right;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-top: -2px;
}

.acemount_btn.active:after {
    content: "\2212";
}

.temlate-section textarea {
    width: 100%;
}
div.acemount-pending {
    display: none;
}

.acemount-statuses  {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;



}
.acemount-statuses table  {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #f4f4f4;

}

.acemount-statuses td, .acemount-statuses th {
    border: 1px solid #f4f4f4;
    text-align: center;
    width: 30%;
}

.acemount-statuses td:nth-child(1), .acemount-statuses th:nth-child(1) {
    width: 5%;
}
